html {
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
}

p {
  margin: 0;
  padding: 0;
}

a {
  color: #19b491;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  cursor: pointer;
}

header h1 {
  font-size: 21px;
  font-weight: 500;
  margin: 0;
}

section,
header {
  padding: 10px 0;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 1px solid #e2e2e2;
}

.nav li {
  display: inline-block;
}

.nav li .nav-link {
  text-decoration: none;
  color: #777777;
  padding: 5px 10px 15px 10px;
  display: inline-block;
}

.nav li .nav-link.active, .nav li .nav-link:hover {
  border-bottom: 2px solid #19b491;
  cursor: pointer;
}

.section-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
}

.section-wrapper:last-child {
  border-bottom: none;
}

.section-wrapper .image-wrapper {
  margin-right: 20px;
}

.section-wrapper .image-wrapper img {
  width: 70px;
  height: 70px;
}

.section-wrapper .person img {
  border-radius: 50%;
}

.tab-content {
  padding: 20px 0;
}

.tab-content .tab-pane {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.tab-content .tab-pane .two-third {
  width: 66%;
  border-right: 1px solid #ccc;
  padding: 0 25px 0 0;
}

.tab-content .tab-pane .one-third {
  width: 33%;
  padding: 0 25px;
}

.tab-content .tab-pane .one-third .main-side-section {
  margin-bottom: 30px;
}

.tab-content .tab-pane .one-third .section-heading h3 {
  font-weight: normal;
  border-bottom: 1px solid #e2e2e2;
  margin-top: 0;
  padding-bottom: 10px;
  color: #787878;
}

.tab-content .tab-pane .one-third .section-wrapper {
  border-bottom: none;
  padding: 5px 0;
}

.tab-content .tab-pane .one-third .section-wrapper .image-wrapper img {
  width: 40px;
  height: 40px;
}

.tab-content .tab-pane .one-third .view-more {
  padding-top: 20px;
  font-size: 16px;
}

.tab-content .text-wrapper {
  width: 100%;
}

.tab-content .text-wrapper .post-type {
  text-transform: uppercase;
  color: #666;
  font-size: 10px;
  line-height: 16px;
  letter-spacing: 1px;
  font-weight: 600;
}

.tab-content .text-wrapper .post-headline {
  font-size: 17px;
  font-weight: 500;
}

.tab-content .disp-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.tab-content .disp-flex .half {
  width: 50%;
}

.tab-content .disp-flex .half .contact-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tab-content .disp-flex .half .contact-details a {
  font-size: 14px;
}

.tab-content .disp-flex .half .contact-details i {
  color: #c5c5c5;
  margin-right: 5px;
}

@media (max-width: 768px) {
  .tab-content .tab-pane {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-content .tab-pane .two-third,
  .tab-content .tab-pane .one-third {
    width: 100%;
    padding: 0;
    border-right: none;
  }
  .tab-content .tab-pane .one-third {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .tab-content .tab-pane .one-third .main-side-section {
    width: 50%;
  }
  .tab-content .tab-pane .one-third .main-side-section:first-child {
    margin-right: 20px;
  }
  .tab-content .tab-pane .two-third {
    margin-bottom: 30px;
  }
  .tab-content .disp-flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-content .disp-flex .half {
    width: 100%;
  }
}

@media (max-width: 575px) {
  .tab-content .tab-pane .one-third {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .tab-content .tab-pane .one-third .main-side-section {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */