$green: #19b491;
$grey: #e2e2e2;
html {
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  line-height: 22px;
}
p {
  margin: 0;
  padding: 0;
}
a {
  color: $green;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}
header {
  h1 {
    font-size: 21px;
    font-weight: 500;
    margin: 0;
  }
}
section,
header {
  padding: 10px 0;
}
.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 1px solid #e2e2e2;
  li {
    display: inline-block;
    .nav-link {
      text-decoration: none;
      color: #777777;
      padding: 5px 10px 15px 10px;
      display: inline-block;
      &.active,
      &:hover {
        border-bottom: 2px solid $green;
        cursor: pointer;
      }
    }
  }
}
.section-wrapper {
  display: flex;
  padding: 15px 0;
  border-bottom: 1px solid #e2e2e2;
  &:last-child {
    border-bottom: none;
  }
  .image-wrapper {
    margin-right: 20px;
    img {
      width: 70px;
      height: 70px;
    }
  }
  .person {
    img {
      border-radius: 50%;
    }
  }
}
.tab-content {
  padding: 20px 0;
  .tab-pane {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    .two-third {
      width: 66%;
      border-right: 1px solid #ccc;
      padding: 0 25px 0 0;
    }
    .one-third {
      width: 33%;
      padding: 0 25px;
      .main-side-section {
        margin-bottom: 30px;
      }
      .section-heading {
        h3 {
          font-weight: normal;
          border-bottom: 1px solid #e2e2e2;
          margin-top: 0;
          padding-bottom: 10px;
          color: #787878;
        }
      }
      .section-wrapper {
        border-bottom: none;
        padding: 5px 0;
        .image-wrapper {
          img {
            width: 40px;
            height: 40px;
          }
        }
      }
      .view-more {
        padding-top: 20px;
        font-size: 16px;
      }
    }
  }
  .text-wrapper {
    width: 100%;
    .post-type {
      text-transform: uppercase;
      color: #666;
      font-size: 10px;
      line-height: 16px;
      letter-spacing: 1px;
      font-weight: 600;
    }
    .post-headline {
      font-size: 17px;
      font-weight: 500;
    }
    .one-line-text {
      // white-space: nowrap;
      // width: calc(100% - 100px);
      // overflow: hidden;
      // text-overflow: ellipsis;
    }
  }
  .disp-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    width: 100%;
    .half {
      width: 50%;
      .contact-details {
        display: flex;
        flex-direction: column;
        a {
          font-size: 14px;
        }
        i {
          color: #c5c5c5;
          margin-right: 5px;
        }
      }
    }
  }
}
@media (max-width: 768px) {
  .tab-content {
    .tab-pane {
      flex-direction: column;
      .two-third,
      .one-third {
        width: 100%;
        padding: 0;
        border-right: none;
      }
      .one-third {
        display: flex;
        flex-direction: row;
        .main-side-section {
          width: 50%;
          &:first-child {
            margin-right: 20px;
          }
        }
      }
      .two-third {
        margin-bottom: 30px;
      }
    }
    .disp-flex {
      flex-direction: column;
      .half {
        width: 100%;
      }
    }
  }
}
@media (max-width: 575px) {
  .tab-content {
    .tab-pane {
      .one-third {
        flex-direction: column;
        .main-side-section {
          width: 100%;
        }
      }
    }
  }
}
